html {
    background-image: linear-gradient(to bottom, rgba(51, 236, 34, 0.438), rgba(51, 236, 34, 0.438)), url('../img/background2.jpg');
    background-position: center;
}

.top-link:hover {
    color: rgb(66, 190, 120);
}